<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../css/bootstrap.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../css/font-awesome.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../css/index.css' type='text/css' media='all'>
    <script src="https://yastatic.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://yastatic.net/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <title>wish-list стран</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id = "app">
<div class="container-fluid">
    <div class="row">
        <div class = "col-md-12">
            <h1>wish-list стран</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <span>Название страны </span>
            <input type="text" v-model="itemCountry">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value=" + Добавить страну" v-on:click.prevent="addCountry" >
        </div>
    </div>
</div>


    <div id="list" contenteditable="true">
<div class="col-sm-12 col-md-8 col-lg-6">
    <ul class="nav nav-tabs-vertical">
        <li class="dropdown">
            <div class="card" v-for="item in items">
                <div class="card-block">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{item.country}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <input type="text" v-model="itemCity">
                        <input type="submit" value=" + Добавить город" v-on:click.prevent="addCity" >
                        <li><a href="#">Вена</a></li>
                        <li><a href="#">Зальцбург</a></li>
                        <li><a href="#">Хальштат</a></li>
                    </ul>

                    <select v-model="item">
                        <option><a href = "#">{{item.country}} <b class="caret"></b></a></option>
                    </select>

                    <button class="btn btn-xs btn-danger" @click="deleteItem(item)">x</button>
                </div>
            </div>
        </li>
    </ul>
</div>
    </div>


<!--сделать так, чтобы здесь хранилась общая информация о стране + возможность создавать таски -->

<!--<div id="app">-->
    <!--<ul>-->
       <!--<app-city></app-city>-->
    <!--</ul>-->

<!--</div>-->


<script src="../js/index.js"></script>
</body>
</html>